      /* From Google Fonts at https://fonts.googleapis.com/css?family=Noto+Serif */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);


@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/eCpfeMZI7q4jLksXVRWPQy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

      html, body {
  font-family: Georgia, 'Noto Serif', serif;
  font-size: 18px;
  line-height: 36px;
  background-color: #ffffff;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
  text-decoration: none;
  border-bottom: 1px dotted #929292;
}

blockquote {
  border-left: 1px solid #929292;
  padding-left: 15px;
}

/* Homepage */

.home-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px
}

.home-links {
  margin-top: 40px;
}

.home-links ul {
  margin: 0;
  padding: 0;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-links ul li {
  list-style: none;
  margin-left: 3px;
  margin-right: 3px;
}

.home-links ul li:not(:last-child):after {
  content: " \00b7";
}

.home-content {
  margin-top: 30px;
}

.home-contact {
  color: #686868;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -15px;
  text-align: center;
}

/* Quote pages */

.quote-container {
  max-width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.quote-title {
  margin-bottom: 10px;
}

.quote {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: -50px;
}

.quote-date {
  width: 100px;
  text-align: right;
  margin-right: 25px;
}

.quote-body {
  margin-top: -18px;
}

.quote-body img {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  .quote {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .quote-title {
    font-style: italic;
    margin-bottom: -10px;
  }

  .quote {
    display: block;
    margin-left: 0;
    margin-top: 40px;
  }

  .quote-date {
    margin-bottom: 35px;
  }
}

/* Added for tables */



body {
  /* font-family: "Josefin Sans", sans-serif;
  line-height: 1; */
  padding: 20px;
  /* height: 1000px; */
  background: #eee;
}

.fitted-image {
    width: 100%;
    height: scale;
}

.separator {

  width: 80%;
  height: 3px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;

}


.demo-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.pricing-table {
  padding-top: 50px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  display: table;
  width: 100%;
}
.pricing-table .pricing-option {
  width: 28%;
  background: white;
  float: left;
  padding: 2%;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option:nth-child(even) {
  margin: 0 2%;
}
.pricing-table .pricing-option:hover {
  cursor: pointer;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.pricing-table .pricing-option:hover i, .pricing-table .pricing-option:hover h1, .pricing-table .pricing-option:hover span, .pricing-table .pricing-option:hover b {
  color: #F85E6A;
}
.pricing-table .pricing-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
}
.pricing-table .pricing-option:hover .back a.button {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
  border: none;
  border-bottom: 1px solid #F0F0F0;
}
.pricing-table .pricing-option i {
  font-size: 3rem;
  color: #D8D8D8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option h1 {
  margin: 10px 0;
  color: #212121;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option p {
  color: #999;
  padding: 0 10px;
  line-height: 1.3;
}
.pricing-table .pricing-option .price {
  position: relative;
}
.pricing-table .pricing-option .price .front span.price {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-weight: 700;
  position: relative;
}
.pricing-table .pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 600;
}
.pricing-table .pricing-option .price .back {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {
  background: #F85E6A;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 13px;
  top: -5px;
  left: 0;
  right: 0;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button:hover {
  background: #f62d3d;
}

@media screen and (max-width: 600px) {
  .pricing-table .pricing-option {
    padding: 5%;
    width: 90%;
  }
  .pricing-table .pricing-option:nth-child(even) {
    margin: 30px 0 !important;
  }
}
